* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
  align-items: flex-start;
}

main{display: flex; }

.navbar{ ;background-color: gray; color: white;}
.social{align-items: flex-end;justify-content: space-between;}
.product{display: flex;
  align-items: center; justify-content: space-around;flex-flow: column wrap; border-style: hidden; border-color: black;
}
p{align-content: center;}
h2{align-content: center;}
header{display: flex; justify-content: space-evenly;  align-items: flex-start;}
.menu{display:flex;justify-content:space-around ; align-content: ; }
.social{display: flex ; justify-content: space-around; border-style: hidden;}
li{display: flex;}

@media screen and (min-width: 767px )and(max-width: 1024px) {
  main{
    display: flex; flex-direction: column;
   }
  
  body {
    ;
      margin: 25px 6%;
  }
  
  .product {
    display: flex;
    flex-wrap: wrap;
  }

  figure {
    width: 45%;
    margin-right: 3.5%;
  }
    
}

@media screen and (max-width: 480) {
  
 main{
  display: flex; flex-direction: column;
 }

  
}